{% extends "scan.html" %}
{% set active_page = "Footprinting > Passive" %}
{% block formcontent %}
<form method="POST" class="custom-form" id="inputform">
    <div class="row py-3">
        <div class="col-lg-12">
            <label for="domain">IP Address</label>
            <input id="ip" name="ip" placeholder="IP address" required="" type="text" value="{{ session["ip"] }}">
        </div>
        <div class="col-lg-4">
            <input class="btn primary-btn btn-custom" id="Ipstack" name="Ipstack" type="button" value="Ipstack Lookup">
        </div>
        <div class="col-lg-4">
            <input class="btn primary-btn btn-custom" id="Ipinfo" name="Ipinfo" type="submit" value="Ipinfo Lookup">
        </div>
        <div class="col-lg-4">
            <input class="btn primary-btn btn-custom" id="Hackertarget" name="Hackertarget" type="button" value="Hackertarget Lookup">
        </div>
    </div>
</form>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $("#Ipstack").click(function() {
        $("#output_wrapper").show();
        $.getJSON($SCRIPT_ROOT + '/_geoip/Ipstack', {
            ip: $("#ip").val(),
        }, function(data) {
            geoip(data, "output", "Ipstack")
        });
        return false;
    });

    $("#Ipinfo").click(function() {
        $("#output_wrapper").show();
        $.getJSON($SCRIPT_ROOT + '/_geoip/Ipinfo', {
            ip: $("#ip").val(),
        }, function(data) {
            geoip(data, "output", "Ipinfo")
        });
        return false;
    });

    $("#Hackertarget").click(function() {
        $("#output_wrapper").show();
        $.getJSON($SCRIPT_ROOT + '/_geoip/Hackertarget', {
            ip: $("#ip").val(),
        }, function(data) {
            geoip(data, "output", "Hackertarget")
        });
        return false;
    });

</script>
{% endblock formcontent %}