{% extends "scan.html" %}
{% set active_page = "Footprinting > Passive" %}
{% block formcontent %}
<form method="POST" class="custom-form" id="inputform">
    <div class="row py-3">
        <div class="col-lg-12">
            <label for="ip">IP Address</label>
            <input id="ip" name="ip" placeholder="IP Address" required="" type="text" value="{{ session["ip"] }}">
        </div>
        <div class="col-lg-12">
            <input class="btn primary-btn btn-custom" id="submit" name="submit" type="submit" value="Scan">
        </div>
    </div>
</form>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $("#inputform").submit(function(event) {
        event.preventDefault();
        $("#output_wrapper").show();
        $.getJSON($SCRIPT_ROOT + '/_portscan', {
            ip: $("#ip").val(),
        }, function(data) {
            portscan(data, "output")
        });
        return false;
    });
</script>
{% endblock formcontent %}