{% extends "scan.html" %}
{% set active_page = "Footprinting > Passive" %}
{% block formcontent %}
<form method="POST" class="custom-form" id="inputform">
    <div class="row py-3">
        <div class="col-lg-12">
            <label for="domain">IP Address</label>
            <input id="ip" name="ip" placeholder="IP address" required="" type="text" value="{{ session["ip"] }}">
        </div>
        <div class="col-lg-6">
            <input class="btn primary-btn btn-custom" id="Hackertarget" name="Hackertarget" type="button" value="Hackertarget Lookup">
        </div>
        <div class="col-lg-6">
            <input class="btn primary-btn btn-custom" id="yougetsignal" name="yougetsignal" type="button" value="yougetsignal Lookup">
        </div>
    </div>
</form>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $("#Hackertarget").click(function() {
        $("#output_wrapper").show();
        $.getJSON($SCRIPT_ROOT + '/_reverseip/Hackertarget', {
            ip: $("#ip").val(),
        }, function(data) {
            reverseip(data, "output", "Hackertarget")
        });
        return false;
    });

    $("#yougetsignal").click(function() {
        $("#output_wrapper").show();
        $.getJSON($SCRIPT_ROOT + '/_reverseip/yougetsignal', {
            ip: $("#ip").val(),
        }, function(data) {
            reverseip(data, "output", "yougetsignal")
        });
        return false;
    });
</script>
{% endblock formcontent %}