{% extends "scan.html" %}
{% set active_page = "Footprinting > Active" %}
{% block formcontent %}
<form method="POST" class="custom-form" id="inputform">
    <div class="row py-3">
        <div class="col-lg-10">
            <input id="domain" name="domain" placeholder="Domain Name" required="" type="text" value="{{ session["domain"] }}">
        </div>
        <div class="col-lg-2 align-middle pt-0 mt-0">
            <label class="checkbox-container">
                <input class="custom-control-input" id="https" name="https" type="checkbox" value="y">
                HTTPS
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-lg-6">
            <input class="btn primary-btn btn-custom" id="robot" name="robot" type="submit" value="robot.txt">
        </div>
        <div class="col-lg-6">
            <input class="btn primary-btn btn-custom" id="sitemap" name="sitemap" type="submit" value="sitemap.xml">
        </div>
    </div>
</form>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $("#robot").click(function(event) {
        event.preventDefault();
        $("#output_wrapper").show();
        $.getJSON($SCRIPT_ROOT + '/_robot/robot', {
            domainName: $("#domain").val(),
            https: $('#https').is(':checked'),
        }, function(data) {
            robot(data, "output", "robot")
        });
        return false;
    });
    $("#sitemap").click(function(event) {
        event.preventDefault();
        $.getJSON($SCRIPT_ROOT + '/_robot/sitemap', {
            domainName: $("#domain").val(),
            https: $('#https').is(':checked'),
        }, function(data) {
            robot(data, "output", "sitemap")
        });
        return false;
    });
</script>
{% endblock formcontent %}