{% extends "scan.html" %}
{% set active_page = "Footprinting > Passive" %}
{% block formcontent %}
<form method="POST" class="custom-form" id="inputform">
    <div class="row py-3">
        <div class="col-lg-12">
            <label for="domain">Domain Name</label>
            <input id="domain" name="domain" placeholder="Domain Name" required="" type="text" value="{{ session["domain"] }}">
        </div>
        <div class="col-lg-6">
            <input class="btn primary-btn btn-custom" id="dnsdumpster" name="dnsdumpster" type="button" value="dnsdumpster">
        </div>
        <div class="col-lg-6">
            <input class="btn primary-btn btn-custom" id="google_dork" name="google_dork" type="button" value="Google dork">
        </div>
    </div>
</form>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $("#dnsdumpster").click(function() {
        $("#output_wrapper").show();
        $.getJSON($SCRIPT_ROOT + '/_subdomain/dnsdumpster', {
            domainName: $("#domain").val(),
        }, function(data) {
            subdomain(data, "output", "dnsdumpster")
        });
        return false;
    });

    $("#google_dork").click(function() {
        $("#output_wrapper").show();
        $.getJSON($SCRIPT_ROOT + '/_subdomain/google_dork', {
            domainName: $("#domain").val(),
        }, function(data) {
            subdomain(data, "output", "google_dork")
        });
        return false;
    });
</script>
{% endblock formcontent %}