{% extends "scan.html" %}
{% set active_page = "Footprinting > Active" %}
{% block formcontent %}
<form method="POST" class="custom-form" id="inputform">
    <div class="row py-3">
        <div class="col-lg-8">
            <input id="ip" name="ip" placeholder="ip Address" required="" type="text" value="{{ session["ip"] }}">
        </div>
        <div class="col-lg-4 align-middle pt-0 mt-0">
            <select name="source" id="source">
                <option value="LO">Local</option>
                <option value="AU">AU</option>
                <option value="CH">CH</option>
                <option value="RU">RU</option>
                <option value="UK">UK</option>
                <option value="US">US</option>
            </select>
        </div>
        <div class="col-lg-12">
            <input class="btn primary-btn btn-custom" id="submit" name="submit" type="submit" value="Trace">
        </div>
    </div>
</form>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $("#inputform").submit(function(event) {
        event.preventDefault();
        $("#output_wrapper").show();
        $.getJSON($SCRIPT_ROOT + '/_traceroute', {
            ip: $("#ip").val(),
            source: $('#source').find(":selected").val(),
            http: $('#https').is(':checked'),
        }, function(data) {
            traceroute(data, "output")
        });
        return false;
    });
</script>
{% endblock formcontent %}