{% extends "scan.html" %}
{% set active_page = "Footprinting > Passive" %}
{% block formcontent %}
<form method="POST" class="custom-form" id="inputform">
    <div class="row py-3">
        <div class="col-lg-12">
            <label for="domain">Domain Name</label>
            <input id="domain" name="domain" placeholder="Domain Name" required="" type="text" value="{{ session["domain"] }}">
        </div>
        <div class="col-lg-6">
            <label for="startYear">Get results from year</label>
            <input id="startYear" name="startYear" placeholder="Year" required="" type="number" value="">
        </div>
        <div class="col-lg-6">
            <label for="stopYear">Get results to year</label>
            <input id="stopYear" name="stopYear" placeholder="Year" required="" type="number" value="">
        </div>
        <div class="col-lg-12">
            <input class="btn primary-btn btn-custom" id="submit" name="submit" type="submit" value="Time Travel">
        </div>
    </div>
</form>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $("#inputform").submit(function(event) {
        event.preventDefault();
        $("#output_wrapper").show();
        $.getJSON($SCRIPT_ROOT + '/_wayback', {
            domainName: $("#domain").val(),
            startYear: $("#startYear").val(),
            stopYear: $("#stopYear").val(),
        }, function(data) {
            wayback(data, "output")
        });
        return false;
    });
</script>
{% endblock formcontent %}