{% extends "scan.html" %}
{% set active_page = "Footprinting > Passive" %}
{% block formcontent %}
<form method="POST" class="custom-form" id="inputform">
    <div class="row py-3">
        <div class="col-lg-12">
            <label for="domain">Domain Name</label>
            <input id="domain" name="domain" placeholder="Domain Name" required="" type="text" value="{{ session["domain"] }}">
        </div>
        <div class="col-lg-12">
            <label for="domain">IP Address</label>
            <input id="ip" name="ip" placeholder="IP address" required="" type="text" value="{{ session["ip"] }}">
        </div>
        <div class="col-lg-6">
            <input class="btn primary-btn btn-custom" id="whois" name="whois" type="submit" value="whois Lookup">
        </div>
        <div class="col-lg-6">
            <input class="btn primary-btn btn-custom" id="ipwhois" name="ipwhois" type="button" value="ipwhois Lookup">
        </div>
    </div>
</form>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $("#whois").click(function() {
        $.getJSON($SCRIPT_ROOT + '/_whois/whois', {
            domainName: $("#domain").val(),
            ip: $("#ip").val(),
        }, function(data) {
            whois(data, "output", "whois")
        });
        return false;
    });

    $("#ipwhois").click(function() {
        $.getJSON($SCRIPT_ROOT + '/_whois/ipwhois', {
            domainName: $("#domain").val(),
            ip: $("#ip").val(),
        }, function(data) {
            whois(data, "output", "ipwhois")
        });
        return false;
    });
</script>
{% endblock formcontent %}