{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-6" style="border-right: 0.1px solid #3d3d3d;">
            <div class="row">
                <div class="col-12 py-2">
                    <h4 class="text-white">Create New Instance</h4>
                </div>
                <div class="col-12">
                    <form method="POST" action="/home" class="py-2 pr-2 custom-form">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-lg-12">
                                {{ form.instance_name(placeholder="Instance Name")}}
                            </div>
                            <div class="col-lg-9">
                                {{ form.domain(placeholder="Domain name")}}
                            </div>
                            <div class="col-lg-3 align-middle pt-0 mt-0">
                                <label class="checkbox-container">
                                    {{ form.https(class="custom-control-input")}}
                                    HTTPS
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-lg-12">
                                {{ form.note(placeholder="Note")}}
                                {{ form.submit(class="btn primary-btn btn-custom") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-white">Previous Instances</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}