{% extends "layout.html" %}
{% set active_page = "Instances" %}
{% block content %}
    <div class="row justify-content-center">
        {% if instance_list %}
            {% for instance in instance_list %}
                <div class="col-12 mb-4">
                    <a href="{{ url_for('dashboard', instance_id=instance.id) }}">
                        <div class="container">
                            <div class="card instance">
                                <div class="card-body">
                                    <div class="card-header">
                                        <h5>{{ instance.name }}</h5>
                                        <p class="text-small">{{ instance.date_created.strftime("%m/%d/%Y, %H:%M:%S") }}</p>
                                    </div>
                                    <p class="card-text">
                                        {{ instance.notes }}
                                    </p>
                                    {% if instance.https %}
                                        <a class="primary" href="https://{{ instance.domain }}" target="_blank">{{ instance.domain }}</a>
                                    {% else %}
                                        <a class="primary" href="http://{{ instance.domain }}" target="_blank">{{ instance.domain }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12 mb-4">
                <div class="container-fluid">
                    <div class="py-3 pl-3" style="border-left: 3px solid #975aff;background-color: #1e1e1e;">
                    <p><h6>It's empty here :(</h6></p>
                    <p>Why don't you start With <a href="{{ url_for('home') }}">Creating new instances</a>?</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}