<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% if title %}
        <title>Raven - {{ title }}</title>
    {% else %}
        <title>Raven</title>
    {% endif %}
    <link rel="icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}" sizes="16x16" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='assets/img/favicon-16x16.png') }}" sizes="16x16" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='assets/img/favicon-32x32.png') }}" sizes="16x16 32x32" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome5-overrides.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.easing.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/chart.min.js') }}"></script>
    <script src="//cdn.amcharts.com/lib/4/core.js"></script>
    <script src="//cdn.amcharts.com/lib/4/maps.js"></script>
    <script src="//cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="{{ url_for('static', filename='assets/js/pallet.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/allmethods.js') }}"></script>
</head>

<body id="page-top" class="sidebar-toggled">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0 toggled">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="{{ url_for('home') }}">
                    <div class="sidebar-brand-icon">
                        <img src="{{ url_for('static', filename='assets/img/svg/logo.svg')}}" height="40"/>
                    </div>
                    <div class="sidebar-brand-text mx-3"><span>Raven</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    {% if session["instance_id"] %}
                        <li class="nav-item">
                            <a class="nav-link {{ 'active' if title == 'Dashboard' else '' }}" href="{{ url_for('dashboard', instance_id=session['instance_id']) }}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if title == 'Instances' else '' }}" href="{{ url_for('instances') }}"><i class="fas fa-folder"></i><span>Instances</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if title == 'Footprinting' else '' }}" href="{{ url_for('footprinting') }}"><i class="fas fa-shoe-prints"></i><span>Footprinting</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if title == 'Settings' else '' }}" href="{{ url_for('settings') }}"><i class="fas fa-cog"></i><span>Settings</span>
                        </a>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <h4 class="text-white" style="margin-bottom: 0;">{{ active_page }}</h4>
                        <ul class="navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">
                                    <span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i>
                                </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div>
                                                <span class="small">December 12, 2021</span>
                                                <p>normal</p>
                                            </div>
                                        </a>
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div>
                                                <span class="small">December 7, 2021</span>
                                                <p>success</p>
                                            </div>
                                        </a>
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div>
                                                <span class="small">December 2, 2021</span>
                                                <p>warning</p>
                                            </div>
                                        </a>
                                        <a class="dropdown-item text-center small text-gray-500" href="{{ url_for('notification') }}">Show All Alerts</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid all-wrapper">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
</body>

</html>